#mainContainer {
    margin: auto;
    width:70vw;
    border: 1px solid red
}

/***Navigation***/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: rgb(199, 194, 194);
}

#mainContainer a {
    font-size: 18px ;
    text-decoration: none;
    color: black ;
}

nav .ancors:hover{
    cursor: pointer;
    color: rgb(123, 118, 118);

}


.events {
    padding-left: 15px;
}

.ancors {
    font-size: 13px;
    color: rgb(199, 194, 194);
}

.ancors a {
    padding: 10px;
    color: rgb(184, 179, 179);
}

/***Small container***/


/***Main event***/

.mainEvent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 80vh;
    height: 25vh;
    border-radius: 15px;
    background-color: rgb(249, 243, 243);
}

img {
    padding-left: 70px;
    width: 12vw;
}

.smallLeft {
    width: 20vw;
}

.smallLeft button {
    position: relative;
    left: 12%;
    top: 12%;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.smallLeft h3 {
    font-size: 25px;
}

.smallLeft p{
    font-size: 20px;
}

.smallLeft .date {
    font-size: 15px;
}

/***Small event***/

.smallEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 15vh;
    background-color: rgb(249, 243, 243);
    border-radius: 15px;
    margin: 25px auto;
}

.smallEvent h3 {
    font-size: 20px;

}

.smallEvent button {
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 15px;
}





