body {
    color: black;
}
.modalview {
    height: 100%;
    width: 100%;
    z-index: 1;
    &_card {
        width: 60%;
        height: 60%;
        position: fixed;
        top: 15%;
        left: 20%;
        background-color: rgba(210, 215, 211, 0.9);
        .form {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            input {
                border: none;
                background-color: rgb(255, 255, 255,0);
                border-bottom: 1px white solid;
                padding: 1rem;
            }
            button {
                background-color: black;
                color: whitesmoke;
                padding: 1rem;
                border: none;
                margin: 1rem 0;
            }
        }

    }
}

.hidden {
    display: none;
}